.cursor {
    cursor: pointer;
}

.genero {
    margin-top: 6%;
    /* margin-right: 1px; */
}

.cerrarg {
    float: right;
}

.buton {
    margin-left: 3%;
}

.conten {
    margin-left: 50px;
}

.no-hidden {
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: visible;
}